@font-face {
    font-family: 'Heading-Font';
    src: url('assets/heading-font.otf');
}


:root {
    --background: rgb(18, 19, 18);
    --color1: #ccc;
    --color2: #fff;
}


body {
    font-family: 'Heading-Font';
    width: 100%; height: 100%;
    overflow: hidden;
    background-color: var(--background);
    color: var(--color2);
    display: flex;
    justify-content: center;
    margin: 0;
    cursor: none;
}

h1, p , a {
    color: #fff;
}

a {
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    margin-top: 25px;
}



.left, .right {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    
.right {
    background: #fff;
}

.right a {
    border-bottom: 2px solid #000;
    }
    
.right h1, .right p, .right a {
color: #000;
}

.cursor {
    pointer-events: none;   
}
.cursor __ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 1000;
}

.cursor circle {
    fill: #f7f8fa;
}



.unselectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    cursor: default;
}


.line-top {
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    transform: translateY(8vh);
    animation: lines 1000ms forwards;
    animation-delay: 2500ms;
}


.line-bottom {
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    transform: translateY(88vh);
    animation: lines 1000ms forwards;
    animation-delay: 2500ms;
}

.main-font {
    position: absolute;
    text-transform: lowercase;
    height: 68vh;
    width: 100vw;
    font-size: 10vh;
    display: flex; 
    justify-content: center;
    align-items: center;
}


.main-font span {
    position: relative;
    transform: translateY(-100vh);
    animation: fall 1000ms ease forwards;
}


.bottom-icons {
    position: relative;
    display: flex;
    width: 50vw;
    align-items: center;
    justify-content: center;
    transform: translateY(80vh);
}


.bottom-icons button {
    background-color: var(--color1);
    height: 3.5vh;
    width: 3.6vh;
    border-radius: 48%;
    font-size: 1.6vh;
    text-align: center;
    color: var(--background);
    border: none;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
    transition: opacity 800ms;
}


.bottom-icons button:hover {
    cursor: pointer;
}


.bottom-icons > div {
    transform: translateY(-100vh);
    animation: buttons 1000ms ease forwards;
}


@keyframes fall {
    100% {
        transform: translateY(0);
    }
}


@keyframes lines {
    0% {
        width: 0;
    }
    100% {
        width: 80vw;
    }
}


@keyframes buttons {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(0);
    }
}


.icon {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2vh;
}


.discord {
    background-image: url('assets/discord.png');
    background-size: 3vh !important;
}
.facebook {
    background-image: url('assets/facebook.png');
}
.instagram {
    background-image: url('assets/instagram.png');
}
.twitter {
    background-image: url('assets/twitter.png');
}
